html {
  width: auto; }

body {
  background-color: black;
  width: 100%;
  font-family: 'Montserrat', sans-serif; }

.cuerpo {
  background-image: url(../img/bg_img.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 15%; }

.logo {
  width: 25%; }

.botonera a:hover {
  opacity: 0.8; }

.bg-black {
  background-color: #000000;
  transition: all 600ms ease; }

.section_presentacion {
  background-color: rgba(0, 0, 0, 0.589);
  border-radius: 0 0 25px 0; }

.destacado-azul {
  color: #0000FE; }

.btn-azul {
  background-color: #0000FE;
  color: #FFF;
  font-weight: 700; }
  .btn-azul:hover {
    color: #FFF;
    opacity: 0.9; }

.inclinado {
  padding-top: 5rem;
  clip-path: polygon(0% 13%, 100% 0%, 100% 100%, 0% 100%); }

.section_experiencia {
  background-color: #0000FE; }

.experiencia_contenido {
  color: #FFF; }

.logo_experiencia {
  width: 11.3rem; }

.marker {
  width: 25px; }

.margins {
  margin-top: 5%;
  margin-bottom: 5%; }

.section_servicios {
  text-align: center;
  margin-top: 5%; }
  .section_servicios img {
    width: 9.5rem;
    object-fit: contain;
    height: 9rem; }
  .section_servicios h2 {
    color: white; }
  .section_servicios h3 {
    color: white; }
  .section_servicios p {
    color: white; }
  .section_servicios .row {
    justify-content: center; }

.section_alianzas {
  height: 40%;
  background-color: #0000FE;
  display: flex;
  flex-direction: row; }
  .section_alianzas .carousel {
    display: none; }
  .section_alianzas p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 9%;
    margin-bottom: 9%; }
  .section_alianzas .section_alianzas_articles article {
    margin-top: 9%;
    margin-left: 8%;
    margin-bottom: 9%;
    height: 8rem;
    width: 6rem;
    background-color: white;
    border-radius: 10%;
    object-fit: scale-down; }

.footer p {
  color: white;
  text-align: center;
  margin-top: 2%; }

.footer .hr {
  width: 100%;
  border: solid 1px #0000FE; }

.footer h2 {
  color: white; }

.footer h3 {
  color: white; }

.footer .logo_footer {
  width: 6rem; }

.footer .title_footer {
  margin-top: 5%; }

.footer .content_footer {
  margin-top: 4%; }

.footer .social_media ul {
  margin-left: -10%; }

.footer .social_media li {
  list-style: none;
  margin: 2%; }

.footer .social_media a {
  color: white; }

.footer .social_media a img {
  width: 2rem; }

.footer .img-contacto {
  margin-top: 10%;
  height: 150px;
  object-fit: scale-down; }

@media (max-width: 768px) {
  .section_alianzas {
    height: 40%;
    background-color: #161734;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .section_alianzas .carousel {
      display: block;
      height: 10rem;
      width: 50%; }
    .section_alianzas .carousel_div {
      background-color: transparent;
      height: 8rem;
      margin-top: 5%; }
    .section_alianzas .container {
      display: none; }
    .section_alianzas .section_presentacion {
      width: 80%; }
  .footer h2 {
    color: white; }
  .footer h3 {
    color: white; }
  .footer .logo_footer {
    width: 6rem; }
  .footer .title_footer {
    margin-top: 5%; }
  .footer .content_footer {
    margin-top: 4%; }
  .footer .social_media li {
    list-style: none; }
  .footer .social_media a {
    color: white; }
  .footer .img-contacto {
    display: none; }
  .form {
    width: 80% !important; } }

@media (max-width: 741px) {
  .section_alianzas {
    height: 40%;
    background-color: #161734;
    display: flex;
    flex-direction: row; }
    .section_alianzas p {
      display: none; }
    .section_alianzas .section_alianzas_articles article {
      margin-top: 9%;
      margin-bottom: 9%;
      height: 6rem;
      width: 6rem;
      background-color: gray;
      border-radius: 10%;
      object-fit: scale-down; }
  .footer h2 {
    color: white; }
  .footer h3 {
    color: white; }
  .footer .logo_footer {
    width: 6rem; }
  .footer .title_footer {
    margin-top: 5%; }
  .footer .content_footer {
    margin-top: 4%; }
  .footer .social_media li {
    list-style: none; }
  .footer .social_media a {
    color: white; }
  .footer .img-contacto {
    display: none; }
  .form {
    width: 80% !important; } }
