* {
  margin: 0;
  padding: 0; }

.cuerpo {
  background-color: black;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif; }

.logo {
  width: 160px; }

.botonera a:hover {
  opacity: 0.8; }

.section_presentacion {
  margin-top: 10vh;
  padding-left: 30px; }

.destacado-azul {
  color: #0000FE; }

.btn-azul {
  background-color: #0000FE;
  color: #FFF;
  font-weight: 700; }
  .btn-azul:hover {
    color: #FFF;
    opacity: 0.9; }

.inclinado {
  background-color: #0000FE;
  height: 20vh;
  transform: rotate(-2.3deg) translateY(15vh) translateX(-1px);
  z-index: 1; }

.section_experiencia {
  background-color: #0000FE;
  z-index: 10; }

.experiencia_contenido {
  width: 450px;
  color: #FFF;
  z-index: 20; }
  .experiencia_contenido li {
    font-weight: 700;
    padding-top: 2rem; }

.logo_experiencia {
  width: 50%; }

.marker {
  width: 25px; }

.margins {
  margin-top: 5%;
  margin-bottom: 5%; }

.section_servicios {
  text-align: center;
  margin-top: 5%; }
  .section_servicios img {
    width: 20%px;
    height: 20%px; }
  .section_servicios h2 {
    color: white; }
  .section_servicios h3 {
    color: white; }
  .section_servicios p {
    color: white; }
  .section_servicios .row {
    justify-content: center; }

.section_alianzas {
  height: 40%;
  background-color: #161734;
  display: flex;
  flex-direction: row; }
  .section_alianzas p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 9%;
    margin-bottom: 9%; }
  .section_alianzas .section_alianzas_articles article {
    margin-top: 9%;
    margin-left: 8%;
    margin-bottom: 9%;
    height: 150px;
    width: 25%;
    background-color: gray;
    border-radius: 10%; }

.footer h2 {
  color: white; }

.footer h3 {
  color: white; }

.footer .logo_footer {
  width: 160px; }

.footer .title_footer {
  margin-top: 5%; }

.footer .content_footer {
  margin-top: 4%; }

.footer .social_media li {
  list-style: none; }

.footer .social_media a {
  color: white; }

.footer .img-contacto {
  margin-top: 10%;
  height: 150px; }
