*{
    margin: 0;
    padding: 0;
}

.cuerpo{
    background-color: black;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 160px;
}

.footer{
    .title_footer{
        margin-top: 5%;
    }
    .content_footer{
        margin-top: 4%;
    }
    .social_media{
        
        li{
            list-style: none;
        }
        a{
            color: black;
        }
    }
}
