//Colores
$azul-claro: #0000FE;
$azul-oscuro: #161734;
$naranja: #FF5501;


html{
    width: auto;
}


body{
    background-color: black;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    
}


.cuerpo {
    background-image: url(../img/bg_img.jpg) ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 15% ;

}


.logo{
    width: 25%;
}

.botonera a:hover{
    opacity: 0.8;
}

.bg-black {
    background-color: #000000;
    transition: all 600ms ease;
}
.section_presentacion{
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 0 0 25px 0;
}

.destacado-azul{
    color: $azul-claro;
}

.btn-azul{
    background-color: $azul-claro;
    color: #FFF;
    font-weight: 700;
    &:hover{
        color: #FFF;
        opacity: 0.9;
    }
}

.inclinado{
    padding-top: 5rem;
    clip-path: polygon(
        0% 13%,
        100% 0%,
        100% 100%,
        0% 100%   
    );
}

.section_experiencia{
    background-color: $azul-claro;
}

.experiencia_contenido{
   
    color: #FFF;
}

.logo_experiencia{
    width: 11.3rem;
}

.marker{
    width: 25px;
}

.margins{ margin-top: 5%;
    margin-bottom: 5%;}

.section_servicios{
    text-align: center;
     margin-top: 5%;

    img{
        width: 9.5rem;
        object-fit: contain;
        height: 9rem;
    }
  h2{
       color: white;
   }

   h3{color: white;}

   p{
       color: white;
   }

   


   .row{
       justify-content: center;
   }
}

.section_alianzas{
    
    height: 40%;
    background-color: $azul-claro;
    display: flex;
    flex-direction: row;

    .carousel{
        display: none;
    }

    p{
        font-family: 'Montserrat', sans-serif ;
        color: white;
        font-size: 2rem;
        margin-top: 9%;
        margin-bottom: 9%;
    }

    .section_alianzas_articles{


        article{
            margin-top: 9%;
            margin-left: 8%;
            margin-bottom: 9%;
            height: 8rem;
            width: 6rem;
            background-color: white;
            border-radius: 10%;
            object-fit: scale-down;
        }

    }

}

.footer{
    p{
        color: white;
        text-align: center;
        margin-top: 2%;
    }
    .hr{
        width: 100%;
        border: solid 1px #0000FE;
       
    }
    h2{
        color: white;
    }
    h3{
        color: white;
    }
    .logo_footer{
        width: 6rem;
        
    }
    .title_footer{
        margin-top: 5%;
    }
    .content_footer{
        margin-top: 4%;
    }
    .social_media{
        
        ul{
            margin-left: -10%;
        }

        li{
            list-style: none;
            margin: 2%;
        }
        a{
            color: white;
        }

       a img{
            width: 2rem;
        }
    }
    .img-contacto{
        margin-top: 10%;
        height: 150px;
        object-fit: scale-down;
    }
    
}

@media(max-width: 768px){


    .section_alianzas{
    
        height: 40%;
        background-color: $azul-oscuro;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .carousel{
            display: block;
            height: 10rem;
            width: 50%;
            
        }

        .carousel_div{
            background-color: transparent;
            height: 8rem;
            margin-top: 5%;
           
        }
        .container{
            display: none;
        }
        .section_presentacion{
           width: 80%;
            
        }
    
    }


    .footer{
        h2{
            color: white;
        }
        h3{
            color: white;
        }
        .logo_footer{
            width: 6rem;
            
        }
        .title_footer{
            margin-top: 5%;
        }
        .content_footer{
            margin-top: 4%;
        }
        .social_media{
            
            li{
                list-style: none;
            }
            a{
                color: white;
            }
        }
        .img-contacto{
           display: none;
        }
        
    }

    .form{
        width: 80% !important;
    }

}

@media(max-width: 741px){

    .section_alianzas{
    
        height: 40%;
        background-color: $azul-oscuro;
        display: flex;
        flex-direction: row;
    
        p{
            display: none;
        }
    
        .section_alianzas_articles{
           
            article{
                margin-top: 9%;
                
                margin-bottom: 9%;
                height: 6rem;
                width: 6rem;
                background-color: gray;
                border-radius: 10%;
                object-fit: scale-down;
            }
    
        }

        
    
    }


    .footer{
        h2{
            color: white;
        }
        h3{
            color: white;
        }
        .logo_footer{
            width: 6rem;
            
        }
        .title_footer{
            margin-top: 5%;
        }
        .content_footer{
            margin-top: 4%;
        }
        .social_media{
            
            li{
                list-style: none;
            }
            a{
                color: white;
            }
        }
        .img-contacto{
           display: none;
        }
        
    }

    .form{
        width: 80% !important;
    }


}