//Colores
$azul-claro: #0000FE;
$azul-oscuro: #161734;
$naranja: #FF5501;

*{
    margin: 0;
    padding: 0;
}

.cuerpo{
    background-color: black;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.cabecera{
    background-image: url(../img/bg_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    width: 160px;
}

.botonera a:hover{
    opacity: 0.8;
}

.section_presentacion{
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 0 0 25px 0;
}

.destacado-azul{
    color: $azul-claro;
}

.btn-azul{
    background-color: $azul-claro;
    color: #FFF;
    font-weight: 700;
    &:hover{
        color: #FFF;
        opacity: 0.9;
    }
}

.inclinado{
    padding-top: 5rem;
    clip-path: polygon(
        0% 13%,
        100% 0%,
        100% 100%,
        0% 100%   
    );
    transform:translateY(-13%)
}

.section_experiencia{
    background-color: $azul-claro;
}

.experiencia_contenido{
    width: 450px;
    color: #FFF;
}

.logo_experiencia{
    width: 11.3rem;
}

.marker{
    width: 25px;
}

.margins{ margin-top: 5%;
    margin-bottom: 5%;}

.section_servicios{
        text-align: center;
       margin-top: 5%;

    img{
        width: 20%px;
        height: 20%px;
    }
  h2{
       color: white;
   }

   h3{color: white;}

   p{
       color: white;
   }

   


   .row{
       justify-content: center;
   }
}

.section_alianzas{
    
    height: 40%;
    background-color: $azul-oscuro;
    display: flex;
    flex-direction: row;

    p{
        font-family: 'Montserrat', sans-serif ;
        color: white;
        font-size: 40px;
        margin-top: 9%;
        margin-bottom: 9%;
    }

    .section_alianzas_articles{

        article{
            margin-top: 9%;
            margin-left: 8%;
            margin-bottom: 9%;
            height: 150px;
            width: 25%;
            background-color: gray;
            border-radius: 10%;
            object-fit: scale-down;
        }

    }

}

.footer{
    h2{
        color: white;
    }
    h3{
        color: white;
    }
    .logo_footer{
        width: 160px;
        
    }
    .title_footer{
        margin-top: 5%;
    }
    .content_footer{
        margin-top: 4%;
    }
    .social_media{
        
        li{
            list-style: none;
        }
        a{
            color: white;
        }
    }
    .img-contacto{
        margin-top: 10%;
        height: 150px;
        object-fit: scale-down;
    }
    
}

